* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat",sans-serif;
	line-height: 20px;
}

html {
	scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
	font-size: 16px;
}

label {
	margin-left: 3px;
}

span{
	color: #C80140;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	color: #001F3F;
}

li {
	margin-left: 25px;
}

body {
	margin: 0;
	background: #ededed;
}

div {
	width: 60%;
	margin: auto;
	margin-top: 30px;
	padding: 20px 0px;
	border-radius: 12px;
	background: #ebebeb;
	box-shadow: 7px 7px 14px #c8c8c8,
             -7px -7px 10px #ffffff;
}

div:focus-within {
  box-shadow: 11px 11px 27px #a6a6a6,
            -11px -11px 27px #ffffff;
}

div {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

section {
	width: 90%;
	margin: auto;
}

section h1 {
	text-align: left;
	color: RGBA(39,52,82);
}

section p {
	font-size: 17px;
	margin-top: 15px;
	text-align: left;
}

.qna h2 {
	font-size: 21px;
	color: RGBA(39,52,82);
	font-weight: 700;
}

ul {
	border-top: 2px solid rgba(39,52,82, 0.3);
	padding-top: 10px;
	font-size: 16px;
}

section input {
	margin-top: 20px;
	background-color: transparent;
	width: 50%;
	border: none;
	border-bottom-style: solid;
	border-bottom-color: rgba(4,29,68,0.1);
}

section input:focus{
	outline: none;
	border-bottom-color: rgba(4,29,68,0.8);
}

input[type="radio"] {
	width: 3%;
	height: 15px;
}

input[type="checkbox"] {
	width: 3%;'
	height: 15px;
}

footer {
	width: 60%;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: center;
}

footer input {
	margin-top: 35px;
	width: 200px;
	height: 50px;
	font-weight: 800;
	font-size: 18px;
	border: none;
	color: #001F3F;
	border-radius: 20px;
  cursor: pointer;
  background: #ededed;
	box-shadow:  7px 7px 14px #c8c8c8,
             -7px -7px 14px #ffffff;
}

.green-bg-input input {
	background: #BAFFC9;
	box-shadow:  6px 6px 12px #97cfa3,
             -6px -6px 12px #ddffef;
}

footer input:focus {
	box-shadow:  13px 14px 15px rgba(0, 0, 0, 0.2),
             -10px -14px 15px #ffffff;
  -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    animation: all .2s alternate;
}

.green-bg-input input:focus {
	box-shadow:  13px 10px 15px #97cfa3,
             -10px -10px 15px #ddffef;
}

aside input[type=radio] {
  width: 2em;
  height: 2em;
}

aside li {
  margin-left: 96px;
}

aside button {
	border: none;
}

aside button:focus {
	border: none;
	outline: none;
}

aside img {
	width: 40px;
	height: 40px;
}

.green-bg {
	background: rgba(186,255,201, 0.9);
}

.green-bg-div h1 {
	color: black;
}

.green-bg-div h2 {
	color: black;
}

.green-bg-div {
	background-color: rgba(186,255,201, 0.5);
	box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.2),
            -9px -9px 10px rgba(444,444,400,0.5);
}

.green-bg-div:focus-within {
	box-shadow:  11px 11px 22px #a1d6ad,
             -11px -11px 22px #dfffef;
}

.dark-bg {
	background: #26282b;
}

.dark-bg-div label {
	color: #A1A1A3;
}
.dark-bg-div {
	background: #26282b;
	box-shadow: 7px 7px 22px rgba(0, 0, 0, 0.1),
             -4px -4px 12px rgba(444, 444, 444, 0.1);
}

.dark-bg-div:focus-within {
	box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3),
             -2px -3px 14px rgba(444, 444, 444, 0.2);
}

.dark-bg-div h1 {
	color: #CACBCF;
}

.dark-bg-div p {
	color: #A1A1A3;
}

.dark-bg-div h2 {
	color: #CACBCF;
}

.dark-bg-div ul {
	border-top: 2px solid rgba(234,234,234, 0.5);
	color: #A1A1A3;
}

.dark-bg-div a {
	color: #d9d44e;
}

.dark-bg-div section input {
	border-bottom-color: rgba(161,161,163, 0.2);
}

.dark-bg-div section input:focus {
	border-bottom-color: rgba(161,161,163, 0.4);
}

.dark-bg-input input {
	color: #CACBCF;
	background: #26282b;
	box-shadow: 7px 7px 23px #1e2022,
           -4px -4px 18px rgba(444, 444, 444, 0.1);
}

.dark-bg-input input:focus {
	box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3),
             -2px -3px 14px rgba(444, 444, 444, 0.2);
}

.peach-bg {
	background: #F5E8C7;
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.peach-bg-div {
	background: #F5E8C7;
	box-shadow:  10px 10px 20px #e4cfbb,
             -10px -10px 20px #fff9df;
  -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.peach-bg-div:focus-within {
	box-shadow:  10px 10px 20px rgba(444,444,400,0.4),
             -10px -10px 20px rgba(444,444,400,0.4);
  -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.peach-bg-input footer input {
	background: #F5E8C7;
	box-shadow:  10px 10px 20px #e4cfbb,
             -10px -10px 20px #fff9df;
}

.peach-bg-input footer input:focus {
	box-shadow:  13px 14px 15px rgba(0, 0, 0, 0.2),
             -10px -14px 15px #ffffff;
}


@media screen and (max-width: 730px) {
	div{
		width: 90%;
	}
	section input{
		width: 90%;
	}
	aside img {
		width: 30px;
		height: 30px;
	}

	input[type="radio"],input[type="checkbox"] {
		width: 7%;
	}

	aside input[type="radio"] {
		width: 40%;
		margin-left: 11px;
	}
}