/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
	font-size: 16px;
}

label {
	margin-left: 3px;
}

span{
	color: #C80140;
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 21px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	color: #001F3F;
}

.green-bg-div h1 {
	color: black;
}

li {
	margin-left: 25px;
}

body {
	margin: 0;
	background: #ebebeb;
}

.green-bg {
	background: rgba(186,255,201, 0.9);
}

div {
	width: 70%;
	margin: auto;
	margin-top: 30px;
	padding: 20px 0px;
	border-radius: 8px;
	background: #ebebeb;
	box-shadow:  7px 7px 14px #c8c8c8,
             -7px -7px 10px #ffffff;
}

.green-bg-div {
	background-color: rgba(186,255,201, 0.5);
	box-shadow:  7px 7px 14px #bbd9c1,
            -7px -7px 8px rgba(444,444,400,0.4);
}

div:focus-within {
  box-shadow:  13px 14px 15px rgba(0, 0, 0, 0.2),
             -10px -14px 15px #ffffff;
}

.green-bg-div:focus-within {
	box-shadow:  9px 9px 10px rgba(0, 0, 0, 0.2),
            -9px -9px 10px rgba(444,444,400,0.5);
}

div {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

section {
	width: 90%;
	margin: auto;
}

section h1 {
	text-align: left;
	color: RGB(39,52,82);
}

section p {
	font-size: 18px;
	margin-top: 15px;
	text-align: left;
}

.qna h2 {
	font-size: 20px;
	color: #001F3F;
	font-weight: 700;
}

ul {
	border-top: 2px solid rgba(39,52,82, 0.5);
	padding-top: 10px;
}

section input {
	margin-top: 20px;
	background-color: transparent;
	width: 50%;
	border: none;
	border-bottom-style: solid;
	border-bottom-color: rgba(4,29,68,0.1);
}

section input:focus{
	outline: none;
	border-bottom-color: rgba(4,29,68,0.8);
}

input[type="radio"] {
	width: 3%;
	height: 15px;
}

footer {
	width: 60%;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: center;
}

footer input {
	margin-top: 25px;
	width: 200px;
	height: 50px;
	font-weight: 900;
	font-size: 18px;
	border: none;
	color: #001F3F;
	border-radius: 20px;
  cursor: pointer;
  background: #ebebeb;
	box-shadow:  7px 7px 14px #c8c8c8,
             -7px -7px 14px #ffffff;
}

.green-bg-input input {
	background: #BAFFC9;
	box-shadow:  6px 6px 12px #97cfa3,
             -6px -6px 12px #ddffef;
}

footer input:focus {
	box-shadow:  13px 14px 15px rgba(0, 0, 0, 0.2),
             -10px -14px 15px #ffffff;
  -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.green-bg-input input:focus {
	box-shadow:  13px 10px 15px #97cfa3,
             -10px -10px 15px #ddffef;
}

@media screen and (max-width: 730px) {
	div{
		width: 90%;
	}
	section input{
		width: 90%;
	}
}