* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
	outline: none;
	border: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

.side-bar {
	position: absolute;
	width: 4%;
	height: 100vh;
	background-color: #F1F1FF;
}

.position-sb {
	background-color: #F1F1FF;
	right: 0px;
}

/*Navbar*/

nav {
	background-color: white;
	margin: auto;
	height: 75px;
	display: flex;
  }
  
  /*Nav Div 1 */
  
  nav div:nth-child(1) {
	width: 40%;
	margin-left: 4vw;
	display: flex;
	align-items: center;
  }
  
  nav div:nth-child(1) h2 {
	position: absolute;
	z-index: 1;
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 78px;
	color: #F0F0FF;
	opacity: 0.85;
  }
  
  nav div:nth-child(1) span {
	font-size: 36px;
  }
  
  nav div:nth-child(1) h1 {
	font-size: 20px;
	font-weight: 400;
	z-index: 2;
	margin-left: 22px;
	margin-top: 25px;
  }
  
  /*Nav Div 2 */
  
  nav div:nth-child(2) {
	width: 50%;
	display: grid;
	justify-content: right;
	align-items: center;
  }
  
  nav div:nth-child(2) h1 {
	margin-top: 5px;
	font-size: 30px;
	color: #031634;
  }
  
  nav div:nth-child(2) div {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding-bottom: 10px;
  }
  
  nav button {
	background-color: white;
	border-radius: 10px;
	width: 85px;
	height: 27px;
  }
  
  nav div button h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
  }
  
  nav a:nth-child(1) button {
	border: solid 2px #031634;
  }
  
  nav a:nth-child(1) button:hover {
	border: solid 2px #031634;
	background-color: #031634;
	border: solid 2px #031634;
  }
  
  nav a:nth-child(2) button {
	margin: 0 0px 0 10px;
	background-color: #031634;
	border: solid 2px #031634;
  }
  
  nav a h2 {
	font-size: 16px;
	transition: 0.6s;
  }
  
  nav a:nth-child(1):hover h2 {
	color: white;
	font-weight: 600;
  }
  
  nav a:nth-child(2) h2 {
	color: white;
	font-weight: 600;
  }
  
  /*Nav Div 3 */
  
  nav div:nth-child(3) {
	width: 90px;
	display: grid;
	place-items: center;
	margin-right: 4vw;
  }
  
  nav div:nth-child(3) img {
	width: 72px;
	height: 72px;
  }

section div {
	width: 92%;
	margin: auto;
	display: grid;
	place-items: center;
}

section div:nth-child(1) {
	height: 17vh;
}

section div:nth-child(1) h1 {
	margin-top: 30px;
	font-size: 64px;
	font-weight: 600;
}

section div:nth-child(2) {
	height: 28vh;
}

section div:nth-child(2) button {
	width: 155px;
	height: 160px;
	background: #EAEBFF;
	border: 5px solid #D3D5FF;
	border-radius: 20px;
	margin-top: 10px;
}

section div:nth-child(2) h1 {
	position: relative;
	bottom: 10px;
	font-size: 140px;
	font-weight: 300;
}

section div:nth-child(3) {
	height: 40vh;
}

section div:nth-child(3) img {
	position: fixed;
	bottom: -270px;
	width: 650px;
	transform: rotate(9.16deg) translate(-50%, 0);
	filter: opacity(90%) contrast(110%);
	z-index: 1;
	left: 50%;
}

@media screen and (max-width: 830px) {
	nav {
		height: 65px;
	}

	nav div:nth-child(1) {
		width: 80%;
		zoom: 0.8;
		padding-left: 10px;
	}

	nav div:nth-child(2) {
		display: none;
	}

	nav div:nth-child(3) {
		width: 20%;
		zoom: 0.9;
	}

	section div:nth-child(1) {
		padding-top: 50px;
		height: auto;
	}

	section div:nth-child(1) h1 {
		text-align: center;
		font-size: 45px;
		width: 95%;
	}

	section div:nth-child(2) {
		height: 32vh;
	}

	section div:nth-child(3) {
		height: auto;
	}

	section div:nth-child(3) img {
		width: 70%;
		min-width: 360px;
		bottom: -110px;
	}
}